img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}
img:focus {
    filter: grayScale(0.1) saturate(0.4) hue-rotate(120deg);
}
.description {
    text-transform: uppercase;
    font-weight: 600;
    height: 5vh;
    padding: 1% 0;
}