mat-icon{
    font-family: 'Material Icons' !important;
}

mat-card {
    margin: 0 2% 2% 0;
}

.focus {
    background-color: blue;
    color: white;
}

.container {
    .jumbotron {
        height: 100%;
        width: 100%;
        background-color: transparent;
        box-shadow: 1px 2px 3px red;
    }
    .navbar {
        border-bottom: 1px solid black;
        ul {
            width: 100%;
            li {
                margin-right: 2%;
                width: 20%;
                display: inline-block;
            }
        }
    }
}