<div class="container">
    <nav class="navbar text-center navbar-expand-lg">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a 
              class="nav-link" 
              [ngClass]="{'focus': clicked == route.login }" 
              routerLink="/login">
              {{route.login}}
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link"
              [ngClass]="{'focus': clicked == route.register }"
              routerLink="/register">
              {{route.register}}
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link" 
              [ngClass]="{'focus': clicked == route.upload }"
              routerLink="/upload">
              {{route.upload}}
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link" 
              [ngClass]="{'focus': clicked == route.gallary }"
              routerLink="/gallary">
              {{route.gallary}}
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link" 
              [ngClass]="{'focus': clicked == route.favorite }"
              routerLink="/favorite">
              {{route.favorite}}
            </a>
          </li>
          <li class="nav-item">
              <a 
                class="nav-link" 
                (click) = "logout()">
                <button class="btn btn-danger">
                  {{route.logout}}
                </button>
              </a>
          </li>
        </ul>
    </nav>
    <div class="jumbotron">
        <router-outlet></router-outlet>
    </div>
</div>