<div class="text-center strong jumbotron text-danger">
    {{ message}}
</div>
<div class="row" *ngIf="loading">
    <div class="col-xs-12 col-md-12">
        <app-spinner></app-spinner>
    </div>
</div>
<div class="row" *ngIf="editing">
    <div class="col-xs-12 col-md-12 text-center text-info">
        <mat-card>
            Fill only those fields that you want to change!
        </mat-card>
    </div>
</div>
<form *ngIf="!loading && user && !editing">
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label strong text-danger">Name</label>
        <div class="col-xs-8 col-md-8 text-center text-info" *ngIf="!editing">{{ user.name }}</div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label strong text-danger">email</label>
        <div class="col-xs-8 col-md-8 text-center text-info" *ngIf="!editing">{{ user.email}}</div>
    </div>
    <div class="form-group row" *ngIf="editing">
        <label for="pwd1" class="col-sm-2 col-form-label strong text-danger">Enter New Password</label>
        <div class="col-sm-10" >
            <input type="password" class="form-control" id="pwd1" placeholder="new password" #password1>
        </div>
        <label for="pwd2" class="col-sm-2 col-form-label strong text-danger">repeat password</label>
        <div class="col-sm-10" >
            <input type="password" class="form-control" id="pwd2" placeholder="repeat" #password2>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12 col-md-12">
            <button type="button" class="btn btn-primary" (click)="toggle()">{{ editing ? 'cancel' : 'edit'}}</button>
        </div>
    </div>
</form>

<form *ngIf="!loading && user && editing">
        <div class="form-group row">
            <label for="Name" class="col-sm-2 col-form-label strong text-danger">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" autofocus id="image" placeholder="name" #name>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label strong text-danger">email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="email" #email>
            </div>
        </div>
        <div class="form-group row">
            <label for="pwd1" class="col-sm-2 col-form-label strong text-danger">Enter New Password</label>
            <div class="col-sm-10" >
                <input type="password" class="form-control" id="pwd1" placeholder="new password" #password1>
            </div>
            <label for="pwd2" class="col-sm-2 col-form-label strong text-danger">repeat password</label>
            <div class="col-sm-10" >
                <input type="password" class="form-control" id="pwd2" placeholder="repeat" #password2>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 col-md-6" *ngIf="editing">
                <input type="button" class=" btn btn-primary" 
                    (click)="saveDetails(name.value, email.value, password1.value, password2.value)" 
                    value="saveDetails"
                />
            </div>
            <div class="col-sm-12 col-md-6">
                <button type="button" class="btn btn-primary" (click)="toggle()">{{ editing ? 'cancel' : 'edit'}}</button>
            </div>
        </div>
</form>